@import 'base/index';

* {
    font-family: "Inter", "SF Pro Display", sans-serif;
    font-size: to-rem(16px);
}

tooltip {
    background-color: $bg;
    border-radius: to-rem(15px);
    font-size: to-rem(18px);
    font-weight: 500;
}

menu {
    background-color: $bg2;
    border-radius: to-rem(15px);

    menuitem {
        background-color: transparent;
        margin: to-rem(5px);
        border-radius: to-rem(8px);
        min-height: to-rem(23px);

        &:hover {
            background-color: $bg3;
        }

        label {
            color: $fg;
            font-size: to-rem(16px);
            font-weight: 500;
        }
    }
}

@import 'widgets/Bar';
@import 'widgets/Desktop';
@import 'widgets/Notifications';
@import 'widgets/OSD';
@import 'widgets/AppLauncher';
@import 'widgets/Power';
@import 'widgets/LockScreen';
@import 'widgets/Control';
