$rosewater: #ff205a;
$flamingo: #ff0039;
$pink: #c573eb;
$mauve: #fb51f0;
$red: #ff205a;
$maroon: #ff0039;
$peach: #cd9069;
$yellow: #ffc046;
$green: #acea6e;
$teal: #39c8b0;
$sky: #5fd8ff;
$sapphire: #00e7e0;
$blue: #6795ff;
$lavender: #009fff;

$text: #ffffff;
$subtext1: #8b949e;
$subtext0: #6a9955;
$overlay2: #484f58;
$overlay1: #30363d;
$overlay0: #21262d;

$surface2: #1c2128;
$surface1: #161b22;
$surface0: #090c10;

$base: #1c1c1c;
$mantle: #141414;
$crust: #0a0a0a;

$fg: $text;
$bg: $crust;
$bg1: rgba(49, 50, 68, 0.6);
$border: #141414;
$shadow: $crust;

$surfaceVariant: $base;
$onSurfaceVariant: $subtext1;

$surface: $surface0;
$onSurface: $subtext1;

$primary: $lavender;
$onPrimary: $blue;
