@use "sass:string";
@use "../abstracts" as *;

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.NotificationPopups {
  all: unset;
}

eventbox.Notification {

  &:first-child>box {
    margin-top: 1rem;
  }

  &:last-child>box {
    margin-bottom: 1rem;
  }

  >box {
    min-width: 400px;
    border-radius: 10px;
    background-color: $bg;
    margin: .5rem 1rem .5rem 1rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
    border: 1pt solid gtkalpha($fg, .03);
  }

  &.critical>box {
    border: 1pt solid gtkalpha($red, .4);

    .header {

      .app-name {
        color: gtkalpha($red, .8);

      }

      .app-icon {
        color: gtkalpha($red, .6);
      }
    }
  }

  .header {
    padding: .5rem;
    color: gtkalpha($fg, 0.5);

    .app-icon {
      margin: 0 .4rem;
    }

    .app-name {
      margin-right: .3rem;
      font-weight: bold;

      &:first-child {
        margin-left: .4rem;
      }
    }

    .time {
      margin: 0 .4rem;
    }

    button {
      padding: .2rem;
      min-width: 0;
      min-height: 0;
    }
  }

  separator {
    margin: 0 .4rem;
    background-color: gtkalpha($fg, .1);
  }

  .content {
    margin: 1rem;
    margin-top: .5rem;

    .summary {
      font-size: 1.2em;
      color: $fg;
    }

    .body {
      color: gtkalpha($fg, 0.8);
    }

    .image {
      border: 1px solid gtkalpha($fg, .02);
      margin-right: .5rem;
      border-radius: 10px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 1rem;
    margin-top: 0;

    button {
      margin: 0 .3rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
