:root {
	--font-primary: Manrope, sans-serif !important;
	--font-display: Inter, sans-serif !important;
}

.theme-dark,
.theme-light {
	--background-primary: #061115;
	--background-secondary: #061115;
	--background-secondary-alt: #061115;
	--background-tertiary: #061115;
	--background-accent: #0d181c;
	--background-floating: #0d181c;
	--background-nested-floating: #061115;
	--background-mobile-primary: #061115;
	--background-mobile-secondary: #061115;
	--chat-background: #061115;
	--chat-border: #061115;
	--chat-input-container-background: #061115;
	--background-modifier-hover: #0d181c;
	--background-modifier-selected: #0d181c;
	--background-modifier-accent: #0d181c;
	--background-modifier-active: #0d181c;
	--info-positive-background: #0d181c;
	--status-positive-text: #061115;
	--status-warning-text: #061115;
	--status-danger-text: #061115;
	--primary-dark-600: #061115;
	--black-500: #061115;
	--primary-dark-700: #061115;
	--button-secondary-background: #0d181c;
	--button-secondary-background-hover: #0d181c;
	--button-secondary-background-active: #0d181c;
	--button-secondary-background-disabled: #0d181c;
	--button-outline-danger-text-hover: #061115;
	--button-outline-danger-text-active: #061115;
	--button-outline-positive-text-hover: #061115;
	--button-outline-positive-text-active: #061115;
	--button-outline-brand-text-hover: #061115;
	--button-outline-brand-text-active: #061115;
	--button-outline-primary-background-hover: #0d181c;
	--button-outline-primary-text-hover: #061115;
	--button-outline-primary-border-hover: #061115;
	--button-outline-primary-background-active: #061115;
	--button-outline-primary-text-active: #061115;
	--button-outline-primary-border-active: #061115;
	--modal-background: #061115;
	--modal-footer-background: #061115;
	--scrollbar-thin-thumb: #0d181c;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #0d181c;
	--scrollbar-auto-track: #061115;
	--scrollbar-auto-scrollbar-color-thumb: #0d181c;
	--scrollbar-auto-scrollbar-color-track: #061115;
	--input-background: #061115;
	--mention-background: #0d181c;
	--background-mentioned: #0d181c;
	--background-mentioned-hover: #0d181c;
	--background-message-hover: #0d181c;
	--channeltextarea-background: #061115;
	--activity-card-background: #061115;
	--android-navigation-bar-background: #061115;
	--deprecated-text-input-bg: #061115;
	--deprecated-text-input-border: #061115;
	--deprecated-text-input-border-hover: #061115;
	--deprecated-text-input-border-disabled: #061115;
}
