:root {
	--font-primary: Manrope, sans-serif !important;
	--font-display: Inter, sans-serif !important;
}

.theme-dark,
.theme-light {
	--background-primary: #0c0e0f;
	--background-secondary: #0c0e0f;
	--background-secondary-alt: #0c0e0f;
	--background-tertiary: #0c0e0f;
	--background-accent: #141617;
	--background-floating: #141617;
	--background-nested-floating: #0c0e0f;
	--background-mobile-primary: #0c0e0f;
	--background-mobile-secondary: #0c0e0f;
	--chat-background: #0c0e0f;
	--chat-border: #0c0e0f;
	--chat-input-container-background: #0c0e0f;
	--background-modifier-hover: #141617;
	--background-modifier-selected: #141617;
	--background-modifier-accent: #141617;
	--background-modifier-active: #141617;
	--info-positive-background: #141617;
	--status-positive-text: #0c0e0f;
	--status-warning-text: #0c0e0f;
	--status-danger-text: #0c0e0f;
	--primary-dark-600: #0c0e0f;
	--black-500: #0c0e0f;
	--primary-dark-700: #0c0e0f;
	--button-secondary-background: #141617;
	--button-secondary-background-hover: #141617;
	--button-secondary-background-active: #141617;
	--button-secondary-background-disabled: #141617;
	--button-outline-danger-text-hover: #0c0e0f;
	--button-outline-danger-text-active: #0c0e0f;
	--button-outline-positive-text-hover: #0c0e0f;
	--button-outline-positive-text-active: #0c0e0f;
	--button-outline-brand-text-hover: #0c0e0f;
	--button-outline-brand-text-active: #0c0e0f;
	--button-outline-primary-background-hover: #141617;
	--button-outline-primary-text-hover: #0c0e0f;
	--button-outline-primary-border-hover: #0c0e0f;
	--button-outline-primary-background-active: #0c0e0f;
	--button-outline-primary-text-active: #0c0e0f;
	--button-outline-primary-border-active: #0c0e0f;
	--modal-background: #0c0e0f;
	--modal-footer-background: #0c0e0f;
	--scrollbar-thin-thumb: #141617;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #141617;
	--scrollbar-auto-track: #0c0e0f;
	--scrollbar-auto-scrollbar-color-thumb: #141617;
	--scrollbar-auto-scrollbar-color-track: #0c0e0f;
	--input-background: #0c0e0f;
	--mention-background: #141617;
	--background-mentioned: #141617;
	--background-mentioned-hover: #141617;
	--background-message-hover: #141617;
	--channeltextarea-background: #0c0e0f;
	--activity-card-background: #0c0e0f;
	--android-navigation-bar-background: #0c0e0f;
	--deprecated-text-input-bg: #0c0e0f;
	--deprecated-text-input-border: #0c0e0f;
	--deprecated-text-input-border-hover: #0c0e0f;
	--deprecated-text-input-border-disabled: #0c0e0f;
}
