include optional=true "include/outputs.kdl"
include optional=true "include/input.kdl"
include optional=true "include/layout.kdl"
include optional=true "include/animations.kdl"
include optional=true "include/keybinds.kdl"
include optional=true "include/autostart.kdl"
include optional=true "include/environment.kdl"
include optional=true "include/cursor.kdl"
include optional=true "include/behavior.kdl"
include optional=true "include/workspaces.kdl"
include optional=true "include/switch-events.kdl"
include optional=true "include/window-rules.kdl"
include optional=true "include/layer-rules.kdl"
