include "include/outputs.kdl" optional=true
include "include/input.kdl" optional=true
include "include/layout.kdl" optional=true
include "include/animations.kdl" optional=true
include "include/keybinds.kdl" optional=true
include "include/autostart.kdl" optional=true
include "include/environment.kdl" optional=true
include "include/cursor.kdl" optional=true
include "include/behavior.kdl" optional=true
include "include/workspaces.kdl" optional=true
include "include/switch-events.kdl" optional=true
include "include/window-rules.kdl" optional=true
include "include/layer-rules.kdl" optional=true
