@-moz-document url-prefix(about:blank), url-prefix(about:newtab) {

	html:not(#ublock0-epicker),
	html:not(#ublock0-epicker) body,
	#newtab-customize-overlay {
		background: #0c0e0f !important;
	}
}

@-moz-document url(about:newtab),

url(about:home){
body {
	background-color: #0c0e0f !important;

	color: #0c0e0f !important;
}
}
