@define-color surface-strongest {{colors.surface_container_lowest.default.hex}};
@define-color surface-strong {{colors.background.default.hex}};
@define-color surface-moderate {{colors.surface_container_low.default.hex}};
@define-color surface-weak {{colors.surface_container.default.hex}};
@define-color surface-weakest {{colors.surface_container_high.default.hex}};

@define-color white-strongest {{colors.on_background.default.hex}};
@define-color white-strong rgba({{colors.on_background.default.red}}, {{colors.on_background.default.green}}, {{colors.on_background.default.blue}}, 0.87);
@define-color white-moderate rgba({{colors.on_background.default.red}}, {{colors.on_background.default.green}}, {{colors.on_background.default.blue}}, 0.34);
@define-color white-weak rgba({{colors.on_background.default.red}}, {{colors.on_background.default.green}}, {{colors.on_background.default.blue}}, 0.14);
@define-color white-weakest rgba({{colors.on_background.default.red}}, {{colors.on_background.default.green}}, {{colors.on_background.default.blue}}, 0.06);

@define-color black-strongest rgb(0, 0, 0);
@define-color black-strong rgba(0, 0, 0, 0.87);
@define-color black-moderate rgba(0, 0, 0, 0.42);
@define-color black-weak rgba(0, 0, 0, 0.15);
@define-color black-weakest rgba(0, 0, 0, 0.06);

@define-color red-tint rgba({{colors.error.default.red}}, {{colors.error.default.green}}, {{colors.error.default.blue}}, 0.6);
@define-color red-normal {{colors.error.default.hex}};
@define-color red-light {{colors.error.default.hex}};
@define-color orange-tint rgba(237, 148, 84, 0.6);
@define-color orange-normal rgb(237, 148, 84);
@define-color orange-light rgb(252, 166, 105);
@define-color yellow-normal rgb(232, 202, 94);
@define-color yellow-light rgb(250, 221, 117);
@define-color green-tint rgba(63, 198, 97, 0.6);
@define-color green-normal rgb(63, 198, 97);
@define-color green-light rgb(97, 214, 126);
@define-color cyan-normal rgb(92, 216, 230);
@define-color cyan-light rgb(126, 234, 246);
@define-color blue-normal {{colors.secondary.default.hex}};
@define-color blue-light {{colors.secondary.default.hex}};
@define-color purple-normal {{colors.primary.default.hex}};
@define-color purple-light {{colors.primary.default.hex}};
@define-color pink-normal {{colors.tertiary.default.hex}};
@define-color pink-light {{colors.tertiary.default.hex}};

@define-color accent_color @purple-light;
@define-color accent_bg_color @purple-normal;
@define-color accent_fg_color @white-strong;
@define-color accent_hover_color rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.08);
@define-color accent_vibrant_hover_color rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.18);
@define-color accent_active_color rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.10);
@define-color accent_vibrant_active_color rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.20);

@define-color destructive_color @red-light;
@define-color destructive_bg_color @red-tint;
@define-color destructive_fg_color @white-strong;

@define-color success_color @green-light;
@define-color success_bg_color @green-tint;
@define-color success_fg_color @white-strong;

@define-color warning_color @orange-light;
@define-color warning_bg_color @orange-tint;
@define-color warning_fg_color @white-strong;

@define-color error_color @red-light;
@define-color error_bg_color @red-tint;
@define-color error_fg_color @white-strong;

@define-color window_bg_color @surface-strong;
@define-color window_fg_color @white-strong;

@define-color view_bg_color @surface-strong;
@define-color view_fg_color @white-strong;

@define-color headerbar_bg_color @surface-strongest;
@define-color headerbar_fg_color @white-strong;
@define-color headerbar_border_color @surface-moderate;
@define-color headerbar_backdrop_color @surface-strongest;
@define-color headerbar_shade_color transparent;

@define-color card_bg_color @white-weakest;
@define-color card_fg_color @white-strong;
@define-color card_shade_color @white-weak;

@define-color dialog_bg_color @surface-weak;
@define-color dialog_fg_color @white-strong;

@define-color popover_bg_color @surface-weakest;
@define-color popover_fg_color @white-strong;
@define-color popover_fg_hover_color rgba({{colors.on_surface.default.red}}, {{colors.on_surface.default.green}}, {{colors.on_surface.default.blue}}, 0.08);
@define-color popover_fg_active_color rgba({{colors.on_surface.default.red}}, {{colors.on_surface.default.green}}, {{colors.on_surface.default.blue}}, 0.18);

@define-color sidebar_row_active_bg_color {{colors.secondary_container.default.hex}};
@define-color sidebar_row_active_fg_color {{colors.on_secondary_container.default.hex}};
@define-color secondary_sidebar_bg_color {{colors.surface_container_low.default.hex}};
@define-color secondary_sidebar_fg_color {{colors.on_surface_variant.default.hex}};
@define-color thumbnail_bg_color {{colors.surface_container_high.default.hex}};

@define-color inverse_on_surface {{colors.inverse_on_surface.default.hex}};
@define-color inverse_on_surface_hover rgba({{colors.inverse_on_surface.default.red}}, {{colors.inverse_on_surface.default.green}}, {{colors.inverse_on_surface.default.blue}}, 0.08);
@define-color inverse_on_surface_active rgba({{colors.inverse_on_surface.default.red}}, {{colors.inverse_on_surface.default.green}}, {{colors.inverse_on_surface.default.blue}}, 0.18);
@define-color inverse_primary {{colors.inverse_primary.default.hex}};
@define-color inverse_primary_hover rgba({{colors.inverse_primary.default.red}}, {{colors.inverse_primary.default.green}}, {{colors.inverse_primary.default.blue}}, 0.08);
@define-color inverse_primary_active rgba({{colors.inverse_primary.default.red}}, {{colors.inverse_primary.default.green}}, {{colors.inverse_primary.default.blue}}, 0.18);
@define-color inverse_surface {{colors.inverse_surface.default.hex}};
@define-color surface_container_highest {{colors.surface_container_highest.default.hex}};
@define-color on_surface_variant {{colors.on_surface_variant.default.hex}};
@define-color surface_variant {{colors.surface_variant.default.hex}};
@define-color outline {{colors.outline.default.hex}};

@define-color shade_color @black-strongest;
@define-color scrollbar_outline_color @white-weakest;

@define-color borders transparent;

@define-color sidebar_bg_color @surface-strongest;
@define-color sidebar_fg_color @white-strong;
@define-color sidebar_backdrop_color @surface-strongest;
@define-color sidebar_shade_color @surface-strongest;
* {
    caret-color: @accent_color;
}

window {
    background: @window_bg_color;
}

.text-button {
    border-radius: 999px;
}

.text-button,
.text-button * {
    font-weight: 500;
}

splitbutton {
    background-color: transparent;
}

splitbutton button {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

splitbutton separator {
    color: transparent;
}

splitbutton menubutton {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.popup-menu-item {
    background-color: transparent;
    border-radius: 999px;
}

#NautilusPathBar #NautilusPathButton *,
.nautilus-pathbar .nautilus-path-button * {
    color: @sidebar_row_active_fg_color;
    font-weight: 400;
}

#NautilusPathBar #NautilusPathButton,
.nautilus-pathbar .nautilus-path-button {
    background: @accent_active_color;
    border-radius: 4px;
    margin: 0;
    margin-right: 2px;
}

#NautilusPathBar #NautilusPathButton:hover,
.nautilus-pathbar .nautilus-path-button:hover {
    background: @accent_vibrant_hover_color;
}

#NautilusPathBar #NautilusPathButton:active,
.nautilus-pathbar .nautilus-path-button:active {
    background: @accent_vibrant_active_color;
}

#NautilusPathButton,
.nautilus-pathbar {
    background: transparent;
}

#NautilusPathBar box box:first-child #NautilusPathButton,
.nautilus-pathbar box box:first-child .nautilus-path-button {
    border-radius: 24px 4px 4px 24px;
}

#NautilusPathBar box box:last-child #NautilusPathButton,
.nautilus-pathbar box box:last-child .nautilus-path-button {
    border-radius: 4px 24px 24px 4px;
}

#NautilusPathBar #NautilusPathButton.current-dir.current-dir,
.nautilus-pathbar .nautilus-path-button.current-dir.current-dir {
    border-radius: 999px;
}

#NautilusPathBar .dim-label,
.nautilus-pathbar .dim-label {
    font-size: 0;
}

#NautilusPathBar button .dim-label,
.nautilus-pathbar button .dim-label {
    font-size: 14px;
    opacity: 100%;
}

#NautilusPathBar button,
.nautilus-pathbar button {
    border-radius: 8px;
}
#NautilusPathBar button:checked,
.nautilus-pathbar button:checked {
    background: @accent_vibrant_hover_color;
}

headerbar button {
    border-radius: 999px;
}

headerbar > windowhandle box stack > box:nth-child(2) {
    background: @accent_active_color;
    border-radius: 8px;
}

.nautilus-list-view,
.nautilus-grid-view {
    background: @secondary_sidebar_bg_color;
    border-radius: 16px;
}

.navigation-sidebar row * {
    color: @sidebar_fg_color;
    font-weight: 500;
    font-size: 13px;
}

.navigation-sidebar row {
    border-radius: 999px;
    padding: 2px;
}

.navigation-sidebar row:hover {
    background: @accent_hover_color;
}

.navigation-sidebar row:active {
    background: @accent_active_color;
}

.navigation-sidebar row:selected {
    background: @sidebar_row_active_bg_color;
}

.navigation-sidebar row:selected * {
    color: @sidebar_row_active_fg_color;
}

banner widget {
    border-radius: 16px 0 0 16px;
    margin-bottom: 8px;
    background-color: @secondary_sidebar_bg_color;
}

.boxed-list {
    box-shadow: none;
    background-color: @window_bg_color;
}

.boxed-list row {
    background: @card_bg_color;
    border-radius: 4px;
    border: none;
    margin-bottom: 2px;
}

.boxed-list row.activatable:hover {
    background-color: @thumbnail_bg_color;
}

.boxed-list row.activatable:active {
    background-color: @popover_bg_color;
}

.horizontal > listview > row {
    background-color: transparent;
}

.boxed-list row:disabled {
    background-color: @card_bg_color;
}

.text-button.toggle {
    border-radius: 4px;
    background-color: @surface_container_highest;
    margin-left: 2px;
}

.text-button.toggle:hover {
    background-color: @surface_variant;
}

.text-button.toggle:active {
    background-color: @surface_container_highest;
}

.text-button.toggle * {
    color: @on_surface_variant;
    font-weight: 400;
}

.boxed-list row:first-child {
    border-radius: 16px 16px 4px 4px;
}

.boxed-list row:last-child {
    border-radius: 4px 4px 16px 16px;
    margin-bottom: 0;
}

.text-button.toggle:first-child {
    border-radius: 16px 4px 4px 16px;
}

.text-button.toggle:last-child {
    border-radius: 4px 16px 16px 4px;
}

.boxed-list row:first-child:last-child,
.text-button.toggle:first-child:last-child {
    border-radius: 16px;
}

.text-button.toggle:checked {
    background-color: @accent_bg_color;
    border-radius: 999px;
}

.text-button.toggle:checked * {
    color: @accent_fg_color;
    font-weight: 500;
}

button.back {
    border-radius: 999px;
    background-color: @accent_hover_color;
    padding-left: 4px;
    padding-right: 6px;
}

button.back * {
    font-size: 12px;
}

button.back:hover {
    background-color: @accent_hover_color;
}

button.back:active {
    background-color: @accent_active_color;
}

/* switch */

switch {
    background: @secondary_sidebar_bg_color;
    border: @outline 2px solid;
    padding: 0;
}

switch:checked {
    background: @accent_color;
    border-color: @accent_color;
}

switch slider {
    background: @outline;
    margin: 3px;
    min-width: 0;
    min-height: 0;
}

switch:checked slider {
    background: @accent_fg_color;
    outline: transparent 2px solid;
    margin: 0px;
}

/* toast */

toast {
    border-radius: 999px;
    padding: 6px 6px 6px 10px;
    background-color: @inverse_surface;
    color: @inverse_on_surface;
}

toast .heading {
    font-weight: 400;
}

toast button {
    background-color: transparent;
    color: @inverse_primary;
}

toast button:hover {
    background-color: @inverse_primary_hover;
}

toast button:active {
    background-color: @inverse_primary_active;
}

toast button:last-child {
    color: @inverse_on_surface;
}

toast button:last-child:hover {
    background-color: @inverse_on_surface_hover;
}

toast button:last-child:active {
    background-color: @inverse_on_surface_active;
}

.collapse-spacing.vertical {
    padding-bottom: 0;
}

tabbox {
    padding: 0;
}

tabbox tabboxchild tab,
tabbox tabboxchild {
    background: transparent;
    padding: 0 8px 3px;
    border-radius: 999px;
}

tabbox tabboxchild tab {
    padding: 3px 8px;
}

tab:hover {
    background: @accent_hover_color;
}

tab:active,
tab:selected {
    background: @accent_active_color;
}

tab .tab-title {
    padding: 0 12px;
    color: @secondary_sidebar_fg_color;
}

tab .tab-title label {
    border: none;
    font-weight: 500;
}

tab:selected .tab-title label {
    padding: 6px 0;
    color: @accent_color;
}

/* popup menu */

popover listview.view row,
popover listview.view row:first-child,
popover listview.view row:last-child {
    background: transparent;
    border-radius: 8px;
}

popover contents,
popover arrow {
    background: @secondary_sidebar_bg_color;
}

popover listview.view row:hover {
    background: @popover_fg_hover_color;
}

popover listview.view row:active {
    background: @popover_fg_active_color;
}

modelbutton {
    padding: 2px 10px;
}

modelbutton * {
    color: @popover_fg_color;
}

modelbutton:hover {
    background-color: @popover_fg_hover_color;
}

tooltip {
    background-color: @inverse_surface;
    color: @inverse_on_surface;
    font-size: 11px;
    padding: 5px 9px;
}

/* search */

.entry-completion.entry-completion.entry-completion contents {
    padding: 0;
}
.image-button.flat arrow {
    background: transparent;
}
