:root {
  --font-primary: SF Pro Display, sans-serif !important;
  --font-display: SF Pro Display, sans-serif !important;
}

.theme-dark,
.theme-light {
  --background-primary: #fafafa;
  --background-secondary: #fafafa;
  --background-secondary-alt: #fafafa;
  --background-tertiary: #fafafa;
  --background-accent: #eaeaeb;
  --background-floating: #eaeaeb;
  --background-nested-floating: #fafafa;
  --background-mobile-primary: #fafafa;
  --background-mobile-secondary: #fafafa;
  --chat-background: #fafafa;
  --chat-border: #fafafa;
  --chat-input-container-background: #fafafa;
  --background-modifier-hover: #eaeaeb;
  --background-modifier-selected: #eaeaeb;
  --background-modifier-accent: #eaeaeb;
  --background-modifier-active: #eaeaeb;
  --info-positive-background: #eaeaeb;
  --status-positive-text: #fafafa;
  --status-warning-text: #fafafa;
  --status-danger-text: #fafafa;
  --primary-dark-600: #fafafa;
  --black-500: #fafafa;
  --primary-dark-700: #fafafa;
  --button-secondary-background: #eaeaeb;
  --button-secondary-background-hover: #eaeaeb;
  --button-secondary-background-active: #eaeaeb;
  --button-secondary-background-disabled: #eaeaeb;
  --button-outline-danger-text-hover: #fafafa;
  --button-outline-danger-text-active: #fafafa;
  --button-outline-positive-text-hover: #fafafa;
  --button-outline-positive-text-active: #fafafa;
  --button-outline-brand-text-hover: #fafafa;
  --button-outline-brand-text-active: #fafafa;
  --button-outline-primary-background-hover: #eaeaeb;
  --button-outline-primary-text-hover: #fafafa;
  --button-outline-primary-border-hover: #fafafa;
  --button-outline-primary-background-active: #fafafa;
  --button-outline-primary-text-active: #fafafa;
  --button-outline-primary-border-active: #fafafa;
  --modal-background: #fafafa;
  --modal-footer-background: #fafafa;
  --scrollbar-thin-thumb: #eaeaeb;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #eaeaeb;
  --scrollbar-auto-track: #fafafa;
  --scrollbar-auto-scrollbar-color-thumb: #eaeaeb;
  --scrollbar-auto-scrollbar-color-track: #fafafa;
  --input-background: #fafafa;
  --mention-background: #eaeaeb;
  --background-mentioned: #eaeaeb;
  --background-mentioned-hover: #eaeaeb;
  --background-message-hover: #eaeaeb;
  --channeltextarea-background: #fafafa;
  --activity-card-background: #fafafa;
  --android-navigation-bar-background: #fafafa;
  --deprecated-text-input-bg: #fafafa;
  --deprecated-text-input-border: #fafafa;
  --deprecated-text-input-border-hover: #fafafa;
  --deprecated-text-input-border-disabled: #fafafa;
}
