@use "../abstracts" as *;

@mixin button {
  padding: 0 to-rem(15px);
  border-radius: to-rem(10px);
  background-color: gtkalpha($surface1, 0.6);
  color: $text;
  transition: all 200ms ease;
  border: none;
  margin: 0 to-rem(5px);

  &:hover {
    background-color: gtkalpha($surface2, 0.8);
  }

  icon {
    font-size: to-rem(18px);
    color: inherit;
  }

  label {
    color: inherit;
    font-size: to-rem(16px);
    margin: 0 5px;
  }
}
