.Bar {
  background-color: gtkalpha($bg, 0.8);

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  label {
    margin: 0 to-rem(8px);
  }

  >centerbox {
    padding: to-rem(10px);
  }

  .SysTrayIcon {
    font-size: to-rem(27px);
  }

  .Chia {
    font-size: to-rem(21px);
    font-weight: 600;
    margin-right: to-rem(-30px);
    margin-left: to-rem(-20px);
  }

  .Wifi {
    font-size: to-rem(30px);
    margin-bottom: to-rem(5px);
  }

  .BatteryIcon {
    font-size: to-rem(30px);
  }

  .ActiveClient {
    margin-left: to-rem(20px);
    .app-id {
      font-size: to-rem(17px);
      color: $fg1;
    }

    .window-title {
      font-size: to-rem(18px);
      font-weight: 500;
    }
  }

  .Time {
    font-size: to-rem(19px);
    font-weight: 700;
  }

  .Date {
    font-size: to-rem(17px);
    font-weight: 600;
    color: $fg1;
  }

  box.cover-art {
    min-width: to-rem(28px);
    min-height: to-rem(10px);
    border-radius: to-rem(15px);
    margin: 0 0.6rem 0rem 0;
    padding: 0.8rem;
    background-size: cover;
    background-position: center;
  }

  label.title {
    font-size: to-rem(18px);
    font-weight: 500;
  }

  label.artist {
    font-size: to-rem(17px);
  }
}

.Workspaces {
  .monitor-workspaces {
    border-radius: to-rem(5px);

    &.monitor-1 .workspace-button {
      background-color: gtkalpha($bg1, 0.8);
      box-shadow: 0 0 5px 5px gtkalpha(#000, 0.3);

      &.active {
        background-color: gtkalpha($bg2, 0.8);
      }
    }

    &.monitor-2 .workspace-button {
      background-color: gtkalpha($red, 0.2);

      &.active {
        background-color: $red;
        box-shadow: 0 0 5px 5px gtkalpha(#000, 0.3);
      }
    }

    .workspace-button {
      min-width: to-rem(30px);
      min-height: to-rem(30px);
      border-radius: to-rem(8px);
      padding: 0 to-rem(10px) 0 to-rem(10px);

      .txt-ws {
        font-size: to-rem(17px);
        font-weight: 900;
        color: $fg;
        margin-right: to-rem(4px);
      }
      
      .app-icon {
        icon {
          font-size: to-rem(30px);
          margin: 0 to-rem(3px);
        }
        
        .app-name {
          font-size: to-rem(17px);
          font-weight: 600;
          margin-left: to-rem(4px);
        }
      }
    }
  }
}
