window.OSDWindow {
    background: transparent;

    > revealer {
        margin: to-rem(40px);

        > box {
            margin: to-rem(40px);
        }
    }
}

.OSD {
    background-color: gtkalpha($bg, 0.95);
    box-shadow: 0 0 5px 5px gtkalpha(#000, 0.5);
    border-radius: to-rem(40px);

    @mixin slider-styles($color) {
        padding: to-rem(15px) to-rem(25px);

        icon {
            color: $fg;
            font-size: to-rem(33px);
        }

        .indicator {
            margin: 0 0 0 to-rem(20px);

            .indicator-text {
                label {
                    color: $fg;
                    font-weight: 600;
                    font-size: to-rem(18px);
                }
            }

            .slider-container {
                min-width: to-rem(200px);

                .volume-slider,
                .brightness-slider,
                .mic-slider {
                    trough {
                        background-color: gtkalpha($color, 0.2);
                        border-radius: to-rem(30px);
                    }

                    highlight {
                        background-color: $color;
                        border-radius: to-rem(30px);
                    }

                    slider {
                        background-color: transparent;
                        border-radius: 50%;
                        margin: to-rem(-7px);
                    }
                }
            }
        }
    }

    .volume-indicator {
        @include slider-styles($blue);
    }

    .mic-indicator {
        @include slider-styles($yellow);
    }

    .brightness-indicator {
        @include slider-styles($green);
    }

    .volume-indicator-mute,
    .mic-indicator-mute {
        padding: to-rem(20px);

        icon {
            color: $red;
            font-size: to-rem(30px);
        }
    }
}
