spawn-at-startup "xwayland-satellite"
spawn-at-startup "fcitx5"
spawn-at-startup "sh" "-c" "exec \"$HOME/Dotfiles/quickshell/run-quickshell\""
spawn-at-startup "bash" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "bash" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "bash" "-c" "sleep 1 && dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "sh" "-c" "exec \"$HOME/Dotfiles/dotf/.config/niri/scripts/niri-floating-daemon.py\""
