spawn-at-startup "xwayland-satellite"
spawn-at-startup "fcitx5"
spawn-at-startup "sh" "-c" "exec \"$HOME/Dotfiles/quickshell/run-quickshell\""
spawn-at-startup "bash" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "bash" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "bash" "-c" "sleep 1 && dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "bash" "-c" "swayidle -w timeout 600 'quickshell ipc -p \"$HOME/Dotfiles/quickshell/shell.qml\" call lockscreen lock' timeout 600 'niri msg action power-off-monitors' resume '' before-sleep 'quickshell ipc -p \"$HOME/Dotfiles/quickshell/shell.qml\" call lockscreen lock'"
spawn-at-startup "sh" "-c" "exec \"$HOME/Dotfiles/dotf/.config/niri/scripts/niri-floating-daemon.py\""
