binds {
    Mod+Shift+Slash								{ show-hotkey-overlay; }

    Mod+Return									{ spawn "blackbox"; }
    Alt+Space									{ spawn-sh "astal -i sownteeastal -t launcher"; }
    Mod+L										{ spawn-sh "astal -i sownteeastal -t lock-screen"; }
	Ctrl+Alt+R									{ spawn-sh "agsv2 quit -i sownteeastal; agsv2 run"; }
	Alt+F4										{ spawn "~/.config/niri/close"; }
	Mod+E										{ spawn "nautilus"; }
	Ctrl+Shift+Escape							{ spawn "missioncenter"; }
	Alt+P										{ spawn "hyprpicker" "-a"; }
	Mod+I										{ spawn-sh "env XDG_CURRENT_DESKTOP=GNOME gnome-control-center"; }

	XF86AudioRaiseVolume     allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +2%"; }
    XF86AudioLowerVolume     allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -2%"; }
    Mod+XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "pactl set-source-volume @DEFAULT_SOURCE@ +2%"; }
    Mod+XF86AudioLowerVolume allow-when-locked=true { spawn-sh "pactl set-source-volume @DEFAULT_SOURCE@ -2%"; }
    XF86AudioMute            allow-when-locked=true { spawn "~/.config/niri/mute"; }
    XF86AudioMicMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
	XF86MonBrightnessUp      allow-when-locked=true { spawn-sh "brightnessctl s 5%+"; }
	XF86MonBrightnessDown    allow-when-locked=true { spawn-sh "brightnessctl s 5%-"; }

	// ------------------------------------ WINDOWS -----------------------------
    Alt+Left  { focus-column-left; }
    Alt+Down  { focus-window-down; }
    Alt+Up    { focus-window-up; }
    Alt+Right { focus-column-right; }

    Alt+Ctrl+Left  { move-column-left; }
    Alt+Ctrl+Down  { move-window-down; }
    Alt+Ctrl+Up    { move-window-up; }
    Alt+Ctrl+Right { move-column-right; }

    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

	Mod+Ctrl+W { toggle-column-tabbed-display; }

	// ------------------------------------ MONITOR -----------------------------
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }

    Mod+Alt+Left { spawn-sh "~/.config/niri/transform left"; }
    Mod+Alt+Right { spawn-sh "~/.config/niri/transform right"; }

	// ------------------------------------ WORKSPACE -----------------------------
	Mod+O repeat=false	  { toggle-overview; }
	Mod+Tab				  { focus-workspace-previous; }
	Mod+Ctrl+Down         { move-workspace-down; }
    Mod+Ctrl+Up           { move-workspace-up; }

	Alt+Tab			{ spawn-sh "~/.config/niri/focus-app next"; }
	Alt+Shift+Tab	{ spawn-sh "~/.config/niri/focus-app prev"; }

	Alt+1 { spawn-sh "~/.config/niri/focus-app focus 1"; }
	Alt+2 { spawn-sh "~/.config/niri/focus-app focus 2"; }
	Alt+3 { spawn-sh "~/.config/niri/focus-app focus 3"; }
	Alt+4 { spawn-sh "~/.config/niri/focus-app focus 4"; }
	Alt+5 { spawn-sh "~/.config/niri/focus-app focus 5"; }
	Alt+6 { spawn-sh "~/.config/niri/focus-app focus 6"; }
	Alt+7 { spawn-sh "~/.config/niri/focus-app focus 7"; }
	Alt+8 { spawn-sh "~/.config/niri/focus-app focus 8"; }
	Alt+9 { spawn-sh "~/.config/niri/focus-app focus 9"; }

	Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

	// ------------------------------------- MOUSE --------------------------------
    Alt+WheelScrollDown      { focus-column-right; }
    Alt+WheelScrollUp        { focus-column-left; }
    Alt+Ctrl+WheelScrollDown { move-column-right; }
    Alt+Ctrl+WheelScrollUp   { move-column-left; }

	Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
	Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

	// ------------------------------------- TOUCHPAD ----------------------------------
    Mod+TouchpadScrollLeft   { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +2%"; }
    Mod+TouchpadScrollRight  { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -2%"; }
	Alt+TouchpadScrollLeft   { spawn-sh "pactl set-source-volume @DEFAULT_SOURCE@ +2%"; }
	Alt+TouchpadScrollRight  { spawn-sh "pactl set-source-volume @DEFAULT_SOURCE@ -2%"; }
	Ctrl+TouchpadScrollLeft  { spawn-sh "brightnessctl s 5%+"; }
	Ctrl+TouchpadScrollRight { spawn-sh "brightnessctl s 5%-"; }

	// ------------------------------------- OTHER ----------------------------------------
    Mod+Shift+F					{ fullscreen-window; }
	Mod+F						{ maximize-column; }

	Mod+V						{ toggle-window-floating; }
    Mod+Ctrl+V					{ switch-focus-between-floating-and-tiling; }
	Mod+Shift+V					{ spawn "~/.config/niri/toogle-floating-workspace"; }

	Mod+Minus					{ set-column-width "-10%"; }
    Mod+Equal					{ set-column-width "+10%"; }
	Mod+Shift+Minus				{ set-window-height "-10%"; }
    Mod+Shift+Equal				{ set-window-height "+10%"; }

	Mod+C						{ center-column; }
    Mod+Ctrl+C					{ center-visible-columns; }

    Mod+BracketLeft				{ consume-or-expel-window-left; }
    Mod+BracketRight			{ consume-or-expel-window-right; }
    Mod+Comma					{ consume-window-into-column; }
    Mod+Period					{ expel-window-from-column; }

    Mod+W						{ toggle-column-tabbed-display; }

    Mod+Shift+S					{ screenshot; }
	Mod+Shift+R					{ spawn "~/.config/niri/record"; }

    Mod+Alt+Q { quit; }
}
