output "eDP-1" {
    mode "2560x1600@165.004"
    scale 1.0
    transform "normal"
    position x=0 y=0
    focus-at-startup
    // variable-refresh-rate
}

output "eDP-2" {
    mode "2560x1600@165.004"
    scale 1.0
	transform "normal"
    position x=0 y=0
	focus-at-startup
    // variable-refresh-rate
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    scale 1.0
    transform "normal"
    position x=2560 y=0
	// variable-refresh-rate
    // focus-at-startup
}
