output "eDP-2" {
    mode "2560x1600@165.004"
    scale 1.0
    transform "normal"
    position x=0 y=0
	// variable-refresh-rate
    // focus-at-startup
}

output "HDMI-A-1" {
    // ...settings for HDMI-A-1...
}
