output "California Institute of Technology 0x161D 0x00006001" {
    mode "2560x1600@165.019"
    scale 1.0
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup
}
