window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

layer-rule {
    match namespace="^backdrop-"
    place-within-backdrop true
}

layer-rule {
    match namespace="^blur-"
    background-effect {
        blur true
        xray true
    }
}

// Frequently-used utility apps that are usually better as floating.
window-rule {
    match app-id=r#"^(pavucontrol|neovide|vmware|Spotify|blueman-manager|mpv|org\.gnome\.Calculator|org\.gnome\.Settings|io\.missioncenter\.MissionCenter|org\.gnome\.Nautilus|org\.gnome\.Loupe|org\.gnome\.FileRoller)$"#
    open-floating true
}

window-rule {
    match app-id=r#".*\.exe$"#
    open-floating true
}

// Telegram Media Viewer
window-rule {
    match app-id=r#"^org\.telegram\.desktop$"# title="^Media viewer$"
    open-floating true
}

window-rule {
	match app-id=r#"^com\.raggesilver\.BlackBox$"#
	open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 570; }
}

// Picture in Picture for various browsers
window-rule {
    match title="^[Pp]icture[- ][Ii]n[- ][Pp]icture$"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
}
