spawn-at-startup "xwayland-satellite"
spawn-at-startup "fcitx5"
spawn-at-startup "sh" "-c" "exec \"$HOME/Dotfiles/dotf/quickshell/run-quickshell\""
spawn-at-startup "bash" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "bash" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "bash" "-c" "sleep 1 && dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "bash" "-c" "swayidle -w timeout 600 'env QML2_IMPORT_PATH=$HOME/Dotfiles/dotf quickshell -p $HOME/Dotfiles/dotf/quickshell/widget/lockscreen/Lockscreen.qml' timeout 600 'niri msg action power-off-monitors' resume '' before-sleep 'env QML2_IMPORT_PATH=$HOME/Dotfiles/dotf quickshell -p $HOME/Dotfiles/dotf/quickshell/widget/lockscreen/Lockscreen.qml'"
spawn-at-startup "sh" "-c" "exec \"$HOME/Dotfiles/dotf/.config/niri/scripts/niri-floating-daemon.py\""

environment {
	QT_QPA_PLATFORM "wayland;xcb"
	QT_QPA_PLATFORMTHEME "qt6ct"

	ELECTRON_OZONE_PLATFORM_HINT "auto"

	QT_IM_MODULE "fcitx"
	XMODIFIERS "@im=fcitx"
	SDL_IM_MODULE "fcitx"
	GLFW_IM_MODULE "ibus"
	INPUT_METHOD "fcitx"

    DISPLAY ":1"
	GBM_BACKEND "nvidia-drm"
	// __NV_PRIME_RENDER_OFFLOAD "1"
	LIBVA_DRIVER_NAME "nvidia"
	__GLX_VENDOR_LIBRARY_NAME "nvidia"
}

cursor {
	xcursor-theme "Dark_Cursor"
    xcursor-size 25
}
